annotated-doc==0.0.5
asgiref==3.12.1
click==8.4.2
colorama==0.4.6
Django==6.1
django-tailwind-cli==4.6.2
django-typer==3.8.0
django-widget-tweaks==1.5.1
markdown-it-py==4.2.0
mdurl==0.1.2
pillow==12.3.0
Pygments==2.20.0
python-decouple==3.8
rich==15.0.0
semver==3.0.4
shellingham==1.5.4
sqlparse==0.5.5
typer==0.25.1
tzdata==2026.3
