{% load widget_tweaks %}

<div class="space-y-4">
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="bg-red-500 text-white rounded-lg p-1 break-words">{{ error }}</p>
    {% endfor %}
  {% endif %}
  
  {% for field in form %}
    <div>
      {{ field.label_tag }}
      {{ field|add_class:"px-2 py-1 w-full bg-gray-100 border-2 border-gray-400 rounded-lg shadow focus:outline-blue-500" }}
      
      {% for error in field.errors %}
        <small class="text-red-500 block break-words">{{ error }}</small>
      {% endfor %}
      
      {% if field.help_text %}
        <small class="text-gray-500 block break-words">{{ field.help_text|safe }}</small>
      {% endif %}
    </div>
  {% endfor %}
</div>
