{% extends "base.html" %}

{% block content %}
  <div class="flex flex-col justify-center items-center min-h-screen p-10">
    <form method="post" class="shadow-2xl px-10 py-6 rounded-lg w-90" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="text-center text-3xl font-bold spacing-tight mb-4">{{ header }}</h1>
      {{ profile_form }}
      <br class="mb-4">
      {{ user_form }}
      <div>
        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold mt-4 px-4 py-2 w-full rounded-lg cursor-pointer" type="submit">{{ btn_text }}</button>
      </div>
    </form>
  </div>
{% endblock content %}
