{% extends "base.html" %}

{% block content %}
    <div class="flex flex-col justify-center items-center min-h-screen p-10">
        <form method="post" class="shadow-2xl space-y-4 p-10 rounded-lg">
            <h1 class="text-center text-3xl font-bold">Register</h1>
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="bg-red-500 text-white w-inherit rounded-lg p-1">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% for field in form %}
                <div>
                    <p>{{ field.label }}:</p>
                    <div class="border p-1 rounded-lg">{{ field }}</div>
                </div>
            {% endfor %}
            <button class="bg-blue-500 text-white font-bold px-4 py-2 w-full rounded-lg" type="submit">Register</button>
        </form>
    </div>
{% endblock content %}
