{% load tailwind_cli %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media App</title>
  {% tailwind_css %}
</head>
<body>
  <header class="fixed w-full h-12">
    <nav class="flex justify-between items-center bg-blue-500 text-white py-2 px-4 space-x-8">
      <a href="{% url "accounts:profile" %}" class="font-bold text-2xl tracking-tighter">Social Media App</a>
      {% if not user.is_authenticated %}
        <div class="space-x-4">
          <a href="{% url "accounts:login" %}">Login</a>
          <a href="{% url "accounts:register" %}">Register</a>
        </div>
      {% else %}
        <a href="{% url "accounts:logout" %}">Logout</a>
      {% endif %}
    </nav>
  </header>
  <main class="pt-12">
    {% if messages %}
      <div>
        {% for message in messages %}
          <div class="bg-green-500 text-green-700">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
