{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% partialdef like-button %}
  <div id="like-button-{{ post.pk }}" class="flex items-center space-x-2">
    <button
      class="cursor-pointer"
      hx-post="{% url "posts:like" post.pk %}"
      hx-swap="outerHTML"
      hx-target="#like-button-{{ post.pk }}"
    >
      <img
        class="w-8 h-8 object-cover"
        alt="like button"
        src="{% if user in post.liked_users.all %}{% static 'images/like_active.png' %}{% else %}{% static 'images/like.png' %}{% endif %}"
      />
    </button>
    {% if post.liked_users.count > 0 %}
      <span class="text-xl">{{ post.liked_users.count }}</span>
    {% endif %}
  </div>
{% endpartialdef %}


{% partialdef comment-list %}
  <section id="comment-list-{{ post.pk }}" class="border-2 border-emerald-600 p-2 w-full space-y-2 {% if not post.comments.exists %}hidden{% endif %}">
    <h2 class="text-xl font-bold mb-4">Comments</h2>
    {% for comment in post.comments.all %}
      <div class="w-full">
        <h4 class="text-lg font-bold pl-2">{{ comment.user.username }}</h4>
        <p>{{ comment.body }}</p>
      </div>
    {% endfor %}
  </section>
{% endpartialdef %}


{% partialdef post-card %}
  <div class="w-128 px-4 py-2 space-y-3">
    <!-- User profile image and username -->
    <div class="flex items-center space-x-3 px-1">
      <img
        class="w-10 h-10 object-cover rounded-full"
        src="{% if post.user.profile.image %}{{ post.user.profile.image.url }}{% else %}{% static 'images/user_placeholder.png' %}{% endif %}"
        alt="image of {{ post.user.username }}">
      <p class="font-bold">{{ post.user.username }}</p>
    </div>

    <!-- Post image -->
    <img class="w-full max-h-full" src="{{ post.image.url }}" alt="{{ post.title }}">
    <div class="px-1" x-data="{ commentOpen: false }">
      <div class="flex space-x-4 mb-2">
        <!-- Like section -->
         {% partial like-button %}
        
        <!-- Comment button -->
        <button
          class="cursor-pointer"
          @click="commentOpen = !commentOpen"
        >
          <img class="w-8 h-8 object-cover" src="{% static 'images/comment.png' %}" alt="comment button">
        </button>
        
        <!-- Share button -->
        <button class="cursor-pointer"><img class="w-8 h-8 object-cover" src="{% static 'images/share.png' %}" alt="share button"></button>
      </div>

      <!-- Post title & caption -->
      <h2 class="font-bold text-xl">{{ post.title }}</h2>
      <p class="mb-4">{{ post.caption }}</p>
      
      <!-- Comment form -->
      <div class="p-4 border-2 border-emerald-600 rounded-lg my-6" x-show="commentOpen">
        <form
          method="post"
          hx-post="{% url 'posts:comment' post.pk %}"
          hx-swap="outerHTML"
          hx-target="#comment-list-{{ post.pk }}"
        > 
          {% csrf_token %}
          {{ comment_form }}
          <button
          class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold px-2 py-1 rounded-lg cursor-pointer"
          type="submit"
          @click="commentOpen = !commentOpen"
          >
            Comment
          </button>
        </form>
      </div>

      <!-- Comment list -->
      {% partial comment-list %}
    </div>
  </div>
{% endpartialdef %}


{% block content %}
  <!-- Post container -->
  <h1 class="font-bold text-3xl text-center mt-3 mb-6">{{ header }}</h1>
  <div class="flex flex-col items-center mx-auto space-y-8">
    {% for post in posts %}
      {% partial post-card %}
    {% endfor %}
  </div>
{% endblock content %}
