{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% partialdef post-card %}
  <div id="post-card-{{ post.pk }}" class="w-128 px-4 py-2 space-y-3 border-2 border-blue-500">
    <!-- User profile image and username -->
    <div class="flex items-center space-x-3 px-1">
      <img
        class="w-10 h-10 object-cover rounded-full"
        src="{% if post.user.profile.image %}{{ post.user.profile.image.url }}{% else %}{% static 'images/user_placeholder.png' %}{% endif %}"
        alt="image of {{ post.user.username }}">
      <p class="font-bold">{{ post.user.username }}</p>
    </div>

    <!-- Post image -->
    <img class="w-full max-h-full" src="{{ post.image.url }}" alt="{{ post.title }}">
    
    <div class="px-1" x-data="{ commentOpen: false }">
      <!-- Social buttons -->
      <div class="flex space-x-4 mb-2">
        <!-- Like section -->
        <div id="like-button-{{ post.pk }}" class="flex items-center space-x-2">
          <button
            class="cursor-pointer"
            hx-post="{% url "posts:post-card" post.pk %}"
            hx-headers='{"Post-Like": "true"}'
            hx-swap="outerHTML"
            hx-target="#post-card-{{ post.pk }}"
          >
            <img
              class="w-8 h-8 object-cover"
              alt="like button"
              src="{% if user in post.liked_users.all %}{% static 'images/like_active.png' %}{% else %}{% static 'images/like.png' %}{% endif %}"
            />
          </button>
          {% if post.liked_users.count > 0 %}
            <span class="text-xl">{{ post.liked_users.count }}</span>
          {% endif %}
        </div>
        
        <!-- Comment section -->
        <div class="flex items-center space-x-2">
          <button
            class="cursor-pointer"
            @click="commentOpen = !commentOpen"
          >
            <img class="w-8 h-8 object-cover" src="{% static 'images/comment.png' %}" alt="comment button">
          </button>
          {% if post.comments.count > 0 %}
            <span class="text-xl">{{ post.comments.count }}</span>
          {% endif %}
        </div>
      </div>

      <!-- Post title & caption -->
      <h2 class="font-bold text-xl">{{ post.title }}</h2>
      <p class="mb-4">{{ post.caption }}</p>
      
      <!-- Comment form -->
      <div class="p-4 border-2 border-emerald-600 rounded-lg my-6" x-show="commentOpen">
        {% if form.non_field_errors %}
          <div class="text-red-700">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <form
          method="post"
          hx-post="{% url 'posts:post-card' post.pk %}"
          hx-swap="outerHTML"
          hx-headers='{"Post-Comment": "true"}'
          hx-target="#post-card-{{ post.pk }}"
        >
          {% csrf_token %}
          {% if form.body.errors %}
            {% for error in form.body.errors %}
              <p class="text-red-700">{{ error }}</p>
            {% endfor %}
          {% endif %}
          {{ form.body }}
          <button
          class="bg-emerald-600 hover:bg-emerald-700 text-white font-bold px-2 py-1 rounded-lg cursor-pointer"
          type="submit"
          >
            Comment
          </button>
        </form>
      </div>

      <!-- Comment list -->
      <section class="border-2 border-emerald-600 p-2 w-full space-y-2 {% if not post.comments.exists %}hidden{% endif %}">
        <h2 class="text-xl font-bold mb-4">Comments</h2>
        {% for comment in post.comments.all %}
          <div class="w-full">
            <h4 class="text-lg font-bold pl-2">{{ comment.user.username }}</h4>
            <p>{{ comment.body }}</p>
          </div>
        {% endfor %}
      </section>
    </div>
  </div>
{% endpartialdef %}


{% block content %}
  <!-- Post container -->
  <h1 class="font-bold text-3xl text-center mt-3 mb-6">Feed</h1>
  <div class="flex flex-col items-center mx-auto space-y-8">
    {% for post in posts %}
      {% partial post-card %}
    {% endfor %}
  </div>
{% endblock content %}
