{% load static %}

<div class="w-128 px-4 py-2 space-y-3">
  <!-- User profile image and username -->
  <div class="flex items-center space-x-3 px-1">
    <img class="w-10 h-10 object-cover rounded-full" src="{{ post.user.profile.image.url }}" alt="image of {{ post.user.username }}">
    <p class="font-bold">{{ post.user.username }}</p>
  </div>
  <img class="w-full max-h-full" src="{{ post.image.url }}" alt="{{ post.title }}">
  <div class="px-1">
    <div class="flex space-x-4 mb-2">
      <!-- Like Section -->
      <div 
        class="flex items-center space-x-2"
        x-data="{
          likes: {{ post.liked_users.count }},
          is_liked: {% if user in post.liked_users.all %}true{% else %}false{% endif %}
      }">
        <button
          class="cursor-pointer"
          @click="
            fetch(`{% url 'posts:like' post.pk %}`, {
              method: 'post',
              headers: {
                'X-CSRFToken': '{{ csrf_token }}',
              },
            })
            .then(response => response.json())
            .then(data => {
              is_liked = data['is_liked'];
              likes = data['likes'];
            })
        ">
          <img
            class="w-8 h-8 object-cover"
            alt="like button"
            x-bind:src="is_liked ? `{% static 'images/like_active.png' %}` : `{% static 'images/like.png' %}`">
        </button>
        <span class="text-xl" x-text="likes" x-show="!!likes"></span>
      </div>
      
      <!-- Comment Section -->
      <button class="cursor-pointer"><img class="w-8 h-8 object-cover" src="{% static 'images/comment.png' %}" alt="comment button"></button>
      
      <!-- Share Section -->
      <button class="cursor-pointer"><img class="w-8 h-8 object-cover" src="{% static 'images/share.png' %}" alt="share button"></button>
    </div>
    <h2 class="font-bold text-xl">{{ post.title }}</h2>
    <p>{{ post.caption }}</p>
  </div>
</div>
